@using SPA.Domain.Common
@using SPA.Domain.Entities
@model UserViewModel


@if (Model.UserList != null && Model.UserList.Any())
{
    <div class="table-responsive">
        <table class=" table" style="font-family : yekan">
            <thead style="background-color:#12cf77">
                <tr>
                    <th>ردیف</th>
                    <th>نام</th>
                    <th>نام خانوادگی</th>
                    <th>شماره تلفن</th>
                    <th>سن</th>
                    <th>آدرس</th>
                    <th>تاریخ تولد</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = (Model.pager.CurrentPage - 1) * Model.pager.PageSize + 1;
                    foreach (var item in Model.UserList)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Name</td>
                            <td>@item.Family</td>
                            <td>
                                @if (item.phones == null || !item.phones.Any())
                                {
                                    <span>ندارد</span>
                                }
                                else
                                {
                                    @foreach (var ph in item.phones)
                                    {
                                        <div>@ph.Phonebook</div>
                                    }
                                }
                            </td>
                            <td>@item.Age</td>
                            <td>@item.Address</td>
                            <td>@item.Brithday.ToShamsi()</td>
                            <td>
                                <a class="btn-icon fa-lg" title="بازگردانی" onclick="restoreUser(@item.Id)"><i class='fas fa-undo'></i></a>
                                <a class="btn-icon fa-lg" title="حذف دایمی" onclick="deletePermanentUser(@item.Id)"><i class='fas fa-trash'></i></a>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info w-100 text-center" style="text-align:center;font-family : yekan" id="lll">
        کاربری یافت نشد
    </div>
}

<div id="pager">
    <partial name="~/Views/User/_pager.cshtml" />
</div>